{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "> 3%"
          ]
        },

        "modules":  "cjs"
      }
    ],
  ],
    "plugins": [
      ["@babel/transform-runtime", {}],
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-proposal-export-namespace-from",
      "@babel/transform-modules-commonjs"
    ]
}
